@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(255, 255, 255);
  background: linear-gradient(
      to bottom right,
      rgb(37, 99, 235),
      rgb(29, 78, 216),
      rgb(30, 64, 175)
    );
}

a {
  color: inherit;
  text-decoration: none;
}
